span {
    font-weight: bold;
    font-size: 14px;
    
}
.com {
    width: 614px;
    margin: 0 auto;
    text-align: left;
    
}


.com p{
    font-size: 14px;
}

.comm {
    margin-left: 15px;
    
}